<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="dateHeading">
      <h4 class="panel-title">
           {% if obj_form.date_created.errors or obj_form.digital_origin.errors or obj_form.type_of_resource.errors or obj_form.genre.errors or obj_form.form.errors %}
            <span style="color: red">ERRORS!</span>
           {% endif %}

        <a data-toggle="collapse" 
           data-parent="#objAccordion" 
           href="#dates-desc" aria-expanded="true" 
           aria-controls="">
           <i class="fa fa-calendar"></i> Dates &amp; Descriptive Metadata 
        </a>
      </h4>
    </div>
    <div id="dates-desc" 
         class="panel-collapse collapse" 
         role="tabpanel" 
         aria-labelledby="dateHeading">
    <h5>Dates</h5>
    {# START Date Created #}
    <div class="form-group row {% if obj_form.date_created.errors %}bg-danger{% endif %}">
    {% if obj_form.date_created.errors %}
        <div class="col-md-2">
        <h5>Errors</h5>
        <ol>
            {% for error in obj_form.date_created.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ol>
        </div>
    {% endif %}
     <label class="form-control-label col-md-2" for="date_created">
       {{ obj_form.date_created.label }}
     </label>
     <div class="col-md-3">
      {{ obj_form.date_created(class_="form-control") }}
     </div>
    {# END Date Created #}
    </div>
    {# START Digital Origin #}
    <div class="form-group row {% if obj_form.digital_origin.errors %}bg-danger{% endif %}">
     {% if obj_form.digital_origin.errors %}
        <div class="col-md-2">
        <h5>Errors</h5>
       <ol>
        {% for error in obj_form.digital_origin.errors %}
        <li><strong>{{ error }}</strong></li>
        {% endfor %}
       </ol>
        </div>
     {% endif %}
     <label class="form-control-label col-md-2" for="digital_origin">
      {{ obj_form.digital_origin.label }}
     </label>
     <div class="col-md-3">
       {{ obj_form.digital_origin(class_="form-control") }}
      </div>
    {# END digital origin #}
    </div>

    {# START Type of Resource #}
    <div class="form-group row {% if obj_form.type_of_resource.errors %}bg-danger{% endif %}">
    {% if obj_form.type_of_resource.errors %}
     <div class="col-md-2">
        <h5>Errors</h5>
       <ol>
        {% for error in obj_form.type_of_resource.errors %}
        <li><strong>{{ error }}</strong></li>
        {% endfor %}
       </ol>

    {% endif %}
     <label class="form-control-label col-md-2" for="type_of_resource">
      {{ obj_form.type_of_resource.label }}
     </label>
     <div class="col-md-3">
       {{ obj_form.type_of_resource(class_="form-control") }}
      </div>
    {# END Type of Resource  #}
    </div>

    {# START Languages #}
    <div class="form-group row">
        <label class="control-label col-md-2" for="languages">
        {{ obj_form.languages.label }}
        </label>
        <div class="col-md-3">
        {% for lang in obj_form.languages %}
        {{ lang(class_="form-control") }}
        {% if loop.last %}
      <a href="#" data-bind="click: addLanguage" id="AddLanguageBtn">
        <i class="fa fa-plus-circle"></i>
      </a>

        {% endif %}
        {% endfor %}
        </div>
    </div> 
    {# END Languages #}

    {# START Genre #}
    <div class="form-group row" data-bind="visible: showGenre">
     <label class="control-label col-md-2" for="genre">
      {{ obj_form.genre.label }}
     </label>
     <div class="col-md-4">
       {{ obj_form.genre(class_="form-control", **{"data-bind": "options: genreOptions, optionsText: 'name', optionsValue: 'value'"}) }} <strong>Or</strong> 
       {{ obj_form.genre_free_form.label }}: 
       {{ obj_form.genre_free_form(class_="form-control") }}
     </div>
    {# END Genre #}
    </div>

    {# START Form #}
    <div class="form-group row" data-bind="visible: showForm">
     <label class="form-control-label col-md-2" for="genre">
      {{ obj_form.form.label }}
     </label>
     <div class="col-md-3">
       {{ obj_form.form(class_="form-control") }}
     </div>
    {# END Genre #}
    </div>

    {# START description #}
    <div class="form-group row">
     <label class="form-control-label col-md-2" for="digital_origin">
     {{ obj_form.description.label }}
     </label>
     <div class="col-md-6">
      {{ obj_form.description(class_="form-control", rows=4) }}
     </div>
    {# END description #}
    </div>

    {# START extent #}
    <div class="form-group row" 
         data-bind="visible: showExtent">
      <label class="form-control-label col-md-2" for="extent">
       {{ obj_form.extent.label }}
      </label>
      <div class="col-md-3">
        {{ obj_form.extent(class_="form-control") }}
      </div>
    {# END extent #}
    </div>

    {# START frequency #}
    <div class="form-group row" data-bind="visible: newsletterTemplate">
      <label class="form-control-label col-md-2" for="frequency">
      {{ obj_form.frequency.label }}
      </label> 
      <div class="col-md-3"> 
        {{ obj_form.frequency(class_='form-control') }}
       <strong>Or</strong><br>
       {{ obj_form.frequency_free_form.label }}: 
       {{ obj_form.frequency_free_form(class_='form-control') }}
      </div>
    </div>
    {# END frequency #}
    </div>
</div>

