<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="rightsHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" 
           data-parent="#objAccordion" 
           href="#rights-repo" aria-expanded="true" 
           aria-controls="">
           <i class="fa fa-creative-commons"></i> Copyrights &amp; Repository Properties
        </a>
      </h4>
    </div>
    <div id="rights-repo" 
         class="panel-collapse collapse" 
         role="tabpanel" 
         aria-labelledby="dateHeading">
        <h5>Copyrights &amp; Permissions</h5>
    {# START admin_note #}
    <div class="form-group row">
     <label class="form-control-label col-md-2" for="admin_note">
     {{ obj_form.admin_note.label }}
     </label>
     <div class="col-md-4">
      {{ obj_form.admin_note(class_="form-control", rows=4) }}
     </div>
    {# END admin_note #}
    </div>
    {# START Use and Reproduction Rights Holder #}
    <div class="form-group row">
     <label class="control-label col-md-2" for="rights_holder">
     {{ obj_form.rights_holder.label }}
     </label>
     <div class="col-md-4">
      {{ obj_form.rights_holder(class_="form-control", rows=4) }}
     </div>
    {# END Use and Reproduction Rights Holder #}
    </div>
        <h5>Fedora Repository Information</h5>
    {# START Parent Collection PID #}
    <div class="form-group row">
     <label class="form-control-label col-md-2" for="collection_pid">
       {{ obj_form.collection_pid.label }}
     </label>
     <div class="col-md-3">
       {{ obj_form.collection_pid(class_="form-control") }}
     </div>
    {# END Parent Collection #}
    </div>

</div>
