<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="rightsHeading">
      <h4 class="panel-title">
           {% if obj_form.collection_pid.errors %}
           <span style="color: red">ERRORS!</span>
           {% endif %}
        <a data-toggle="collapse" 
           data-parent="#objAccordion" 
           href="#rights-repo" aria-expanded="true" 
           aria-controls="">
           <i class="fa fa-creative-commons"></i> Copyrights &amp; Repository Properties
        </a>
      </h4>
    </div>
    <div id="rights-repo" 
         class="panel-collapse collapse" 
         role="tabpanel" 
         aria-labelledby="dateHeading">
        <h5>Copyrights &amp; Permissions</h5>
    {# START admin_notes #}
    {% for admin_note in obj_form.admin_notes %}
    <div class="form-group row">
     <label class="form-control-label col-md-2" for="admin_note">
     {{ admin_note.label }}
     </label>
     <div class="col-md-4">
      {{ admin_note(class_="form-control", rows=4) }}
     </div>
    {% endfor %}
    {# END admin_notes #}
    </div>
    {# START Use and Reproduction Rights Holder #}
    <div class="form-group row">
     <label class="control-label col-md-2" for="rights_holder">
     {{ obj_form.rights_holder.label }}
     </label>
     <div class="col-md-4">
      {{ obj_form.rights_holder(class_="form-control", rows=4) }}
     </div>
    {# END Use and Reproduction Rights Holder #}
    </div>
        <h5>Fedora Repository Information</h5>
    {# START Parent Collection PID #}
    <div class="form-group row {% if obj_form.collection_pid.errors %}bg-danger{% endif %}">
    {% if obj_form.collection_pid.errors %}
        <div class="col-md-2">
        <h5>Errors</h5>
        <ol>
        {% for error in obj_form.collection_pid.errors %}
            <li><strong>{{ error }}</strong></li>
        {% endfor %}
        </ol>
        </div>
    {% endif %}
     <label class="form-control-label col-md-2" for="collection_pid">
       {{ obj_form.collection_pid.label }}
     </label>
     <div class="col-md-3">
       {{ obj_form.collection_pid(class_="form-control") }}
     </div>
    {# END Parent Collection #}
    </div>

</div>
