<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="titleHeading">
      <h4 class="panel-title">
        {% if obj_form.title.errors or obj_form.creators.errors %}
        <span style="color: red">ERRORS!</span>
        {% endif %}

        <a data-toggle="collapse" 
           data-parent="#objAccordion" 
           href="#title" aria-expanded="true" 
           aria-controls="">
         <i class="fa fa-female"></i> Title, Creators, &amp; Contributors 
        </a>
      </h4>
    </div>
    <div id="title" 
         class="panel-collapse collapse in" 
         role="tabpanel" 
         aria-labelledby="titleHeading">

    {# START title #}
    <div class="form-group row {% if obj_form.title.errors %}bg-danger{% endif %}">
    {% if obj_form.title.errors %}
        <div class="col-md-2">
        <h5>Errors</h5>
        <ol>
        {% for error in obj_form.title.errors %}
            <li><strong>{{ error }}</strong></li>
        {% endfor %}
        </ol>
        </div>
    {% endif %}
     <label class="col-md-2 form-control-label" 
            for="title">
     {{ obj_form.title.label }} <sup>*</sup>
     </label>
      <div class="col-md-5"> 
       {{ obj_form.title(class_="form-control") }}
      </div>
    {# END title #}
    </div>

    {# START creators title #}
    {% for creator in obj_form.creators %}
    <div class="form-group row">
     <label class="col-md-2 form-control-label" for="creators">
       {{ creator.label }}
     </label>
     <div class="col-lg-4">
       {{ creator(class_="form-control") }}
        <a href="#" 
         data-bind="click: addCreator" 
         id="AddCreatorBtn">
        <i class="fa fa-plus-circle"></i>
      </a>
     </div>
     {% endfor %}
     

    {# END alternate creators #}
    </div>


    {# START corporate creators #}
    {% for corporate_creator in obj_form.corporate_creators %}
    <div class="form-group row" 
         data-bind="visible: showCorporateCreators">
     <label class="form-control-label col-md-2" 
        for="corporate_contributors ">
     {{ corporate_creator.label }}
     </label>
     <div class="col-md-4">
      {{ corporate_creator(class_="form-control") }}
      <a href="#" data-bind="click: addCorporateCreator" 
                  id="AddCorporateCreatorBtn">
       <i class="fa fa-plus-circle"></i>
      </a>
     </div>
    {% endfor %}
    {# END corporate creators #}
    </div>


    {# START contributors #}
    <div class="form-group row" data-bind="visible: showContributors">
     <label class="form-control-label col-md-2" for="contributors ">
     {{ obj_form.contributors.label }}
     </label>
     <div class="col-lg-4">
      {% for contributor in obj_form.contributors %}
      {{ contributor(class_="form-control") }}
      <a href="#" data-bind="click: addContributor" 
                  id="AddContributorBtn">
       <i class="fa fa-plus-circle"></i>
      </a>
      {% endfor %}
     </div>
    {# END contributors #}
    </div>

    {# START thesis_advisors #}
    <div class="form-group row" data-bind="visible: showThesis">
     <label class="form-control-label col-md-2" for="thesis_advisors">
     {{ obj_form.thesis_advisors.label }}
     </label>
     <div class="col-lg-4">
      {% for advisor in obj_form.thesis_advisors %}
      {{ advisor(class_="form-control") }}
      <a href="#" {#data-bind="click: addThesisAdvisor" 
                  id="AddContributorBtn" #}>
       <i class="fa fa-plus-circle"></i>
      </a>
      {% endfor %}
     </div>
    {# END thesis_advisors #}
    </div>
   </div>
  </div>

