{% extends 'manager/base.html' %}

{% block main %}
{# START addObjectFromTemplate DIV #}
<div class="container">
   <h2>{{ action }} Fedora Object(s)</h2>
   <p>Adds one or more brief Fedora Objects using a MODS 
      template of prefilled data to the digital repository.</p>
   <form method="POST" 
         action="{{ url_for('new_fedora_object') }}">
    {{ obj_form.csrf_token }}
    {# START Object Select #}
    <div class="form-group row">
     <label class="col-md-2 form-control-label" 
            for="object_template">
      {{ obj_form.object_template.label }}
     </label>
     <div class="col-md-3">
       {{ obj_form.object_template(class_="form-control", 
              **{"data-bind": "click: displayContentModel, value: chosenContentModel"}) }}
     </div>
    {# END Object Select #}
    </div>
    <div id="objAccordion" role="tablist" aria-multiselectable="true">
    {% include 'manager/snippets/title-creators-contributors.html' %}
    {% include 'manager/snippets/dates-descriptive.html' %}
    {% include 'manager/snippets/subjects.html' %}
    {% include 'manager/snippets/rights-repository.html' %}
    {% include 'manager/snippets/datastreams.html' %}

    </div>


    {# START submit #}
    <div class="form-group">
     <div class="controls col-lg-6">
      <input type="submit" class="btn btn-primary" value="Add Object(s)">
     </div>
    {# END submit #}
    </div>
    </form>
  </div>
  {# END addObjectFromTemplate DIV #}
  </div>
{% endblock %}

{% block more_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
<script type="text/html" id="datastream-template">
<div class="row">
   <div class="form-group col-md-3">
    <label class="form-control-label">Content Model</label>
    <select name="datastreams-content_model" class="form-control"
            data-bind="value: content_model">

    </select>
   </div>
  <div class="form-group col-md-6">
    <label class="form-control-label">Datastream Label</label>
   <input type="text"></input>

   <label class="form-control-label">Datastream</label>
   <input type="file" data-bind="attr: { "name": name }"
    class="form-control"> </input>
  </div>
</div>
</script>
<script>
 function AddStubViewModel() {
   var self = this;
   self.chosenContentModel = ko.observable();
   self.extentValue = ko.observable();
   self.formValue = ko.observable();
   self.showAlternativeTitle = ko.observable(false);
   self.showContributors = ko.observable(false);
   self.showCorporateCreators = ko.observable(false);
   self.showCorporateContributors = ko.observable(false);
   self.showExtent = ko.observable(false);
   self.showGenre = ko.observable(false);
   self.showForm = ko.observable(false);
   self.showSubjectDates = ko.observable(false);
   self.meetingMinutesTemplate = ko.observable(false);
   self.topicOne = ko.observable();
   self.genreOptions = ko.observableArray();
   self.newsletterTemplate = ko.observable(false);
   self.typeOfResource = ko.observable();

   self.displayContentModel = function() {
     switch(self.chosenContentModel()) {
        // Meeting Minutes
        case '1':
            self.resetForm();
            self.meetingMinutesTemplate(true);
            self.topicOne("Meeting minutes");
            self.showAlternativeTitle(true);
            self.showCorporateCreators(true);
            self.showExtent(true);
            self.typeOfResource("text"); 
            var topic_one = $('#AddTopicBtn').prev(); 
            topic_one.after("<input name='subject_topics' class='form-control' type='text' value='Universities and colleges'></input>");
            break;

        // Newsletter
        case '2':
          self.resetForm();
          self.newsletterTemplate(true);
          self.showAlternativeTitle(true);
          self.showContributors(true);
          self.showGenre(true);
          self.genreOptions.push({ name: "Periodical", value: "periodical" });
          self.genreOptions.push({ name: "Newspaper", value: "newspaper"});
          self.typeOfResource("text"); 

          break;

        // Podcast
        case '3':
          self.resetForm();
          self.showCorporateCreators(true);
          self.showExtent(true);
          self.showForm(true);
          self.showGenre(true);
          self.typeOfResource("sound recording");
          self.extentValue("1 audio file");
          self.formValue("podcast");
          break;

        // Video
        case '4':
          self.resetForm();
          self.showCorporateCreators(true);
          self.showExtent(true);
          self.showForm(true);
          self.showGenre(true);
          self.extentValue("1 video file");
          self.formValue("video clip");
          self.genreOptions.push({ name: "Videorecording", value: "videorecording"}); 
          self.typeOfResource("moving image"); 
          break;

       // Master Form displays everything
       case '5':
          self.resetForm()
          self.showAlternativeTitle(true);
          self.showContributors(true);
          self.showCorporateCreators(true);
          self.showGenre(true);
          self.showExtent(true);
          self.showForm(true);
          self.showSubjectDates(true);
          break;

        default:
          self.resetForm();
    }

   }

   self.addAdditionalField = function(btn_name, name) {
     var last_field = $("#" + btn_name).prev();
     last_field.after("<input name='" + name + "' type='text' class='form-control' maxlength='255'></input>");
   }

   self.addCorporateCreator = function() {
      self.addAdditionalField("AddCorporateCreatorBtn", "corporate_creators");
   }

   self.addCorporateContributor = function() {
     self.addAdditionalField("AddCorporateContributorBtn", 'corporate_contributors');
   }

  self.addContributor = function() {
     self.addAdditionalField("AddContributorBtn", 'contributors');
   }

   self.addCreator = function() {
    self.addAdditionalField("AddCreatorBtn", 'creators');
   }

   self.addDatastream = function() {
      var last_row = $("#AddDSBtn").parent().parent();
      last_row.after(last_row.val() + "<hr>")
   }

   self.addDate = function() {
    self.addAdditionalField("AddDateBtn", 'subject_dates');
   }

   self.addOrganization = function() {
     self.addAdditionalField("AddOrgBtn", 'organizations');
   }

   self.addPerson = function() {
     self.addAdditionalField("AddPersonBtn", 'subject_people');
   }

   self.addPlace = function() {
     self.addAdditionalField("AddPlaceBtn", 'subject_places');
   }


   self.addTopic = function() {
     self.addAdditionalField("AddTopicBtn", "subject_topics");
   }
   
   self.resetForm = function() {
     self.genreOptions([{ name: "Choose...", value: null}]);
     self.extentValue("");
     self.formValue("");
     self.showExtent(false);
     self.showForm(false);
     self.showGenre(false);
     self.newsletterTemplate(false);
     self.meetingMinutesTemplate(false);
     self.showAlternativeTitle(false);
     self.showContributors(false);
     self.showCorporateCreators(false);
     self.showSubjectDates(false);
     self.topicOne("");
     self.typeOfResource(""); 


   }
 } 
 ko.applyBindings(new AddStubViewModel());
</script>
{% endblock %}
